<input id="pac-input" class="controls" type="text" placeholder="Search for a location">
<div id="map-canvas"></div>

<!-- sign-up modal -->
<%= render partial: "new" %>
<%= render partial: "sign_in" %>
<%= render partial: "wait_timer" %>
<%= render partial: "new_location" %>
<%= render partial: "places" %>
<%= render partial: "yelp" %>

<button class="btn btn-danger" id="find-my-location-button">My Location</button>

<img src="assets/wait_times.png" id="wait_times">