<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="assets/qing_favicon.ico" />
	<!-- Font link -->
	<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
	<!-- bootstrap and jquery -->
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	<!-- bootstrap and maps -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&sensor=true"></script>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<%= csrf_meta_tags %>
	<title>Q-ing</title>
</head>
<body>
	<%= render partial: "navbar" %>
	<%= yield %>
</body>
</html>
